extends ../layout

block content
  include ../includes/notification
  section
    .container
      .row
        form.form-horizontal(method="post", action="/games/create", enctype="multipart/form-data")
          .form-group
            label.col-sm-2.control-label 分类选择
            each category in categories
              label.radio-inline
                if game.category
                  input(type="radio", name="game[category]", checked=category._id.toString()==game.category.toString())
                else
                  input(type="radio", name="game[category]", value=category._id)
                  | #{category.name}
          .form-group
            label.col-sm-2.control-label(for="gametitle") 游戏名称
            .col-sm-10
              input#gametitle.form-control(type="text", name="game[title]", value=game.title)
          .form-group
            label.col-sm-2.control-label(for="gameposter") 海报地址
            .col-sm-10
              input#gameposter.form-control(type="text", name="game[poster]", value=game.poster)
          .form-group
            label.col-sm-2.control-label(for="uploadposter") 海报上传
            .col-sm-10
              input#uploadposter.form-control(type="file", name="uploadposter")
          .form-group
            label.col-sm-2.control-label(for="gamesummary") 游戏简介
            .col-sm-10
              input#gamesummary.form-control(type="text", name="game[summary]", value=game.summary)
          .form-group
            label.col-sm-2.control-label(for="gameflash") 宣传动画
            .col-sm-10
              input#gameflash.form-control(type="text", name="game[flash]", value=game.flash)
          .form-group
            label.col-sm-2.control-label(for="gameyear") 上线时间
            .col-sm-10
              input#gameyear.form-control(type="text", name="game[year]", value=game.year)
          .form-group
            .col-sm-offset-2.col-sm-4
              button.btn.btn-default(type="submit") 录入
            .col-sm-6
              a.btn.btn-default(href="/admin/games") 返回
            